.header {
  display: flex;
  background-color: #49c5b6;
}

.checkincart {
  border: none;
  background-color: #49c5b6;
  cursor: pointer;
}
.content {
  font-weight: border;
  font-size: 26px;
  color: white;
  font-family: cursive;
  width: 96%;
  text-align: center;
  cursor: pointer;
}
.cart {
  height: 30px;
  width: 30px;
}
span {
  font-weight: bolder;
  padding: 8px 5px 0 0;
}
